$icomoon-font-family: "fiat-currency-symbols" !default;
$icomoon-font-path: "fonts" !default;

$fiat-currency-symbols-CNY: "\e96c";
$fiat-currency-symbols-ZAR: "\e900";
$fiat-currency-symbols-USD: "\e921";
$fiat-currency-symbols-EUR: "\e925";
$fiat-currency-symbols-GBP: "\e931";
$fiat-currency-symbols-RUB: "\e956";
$fiat-currency-symbols-JPY: "\e96b";
