$placeholderColor: var(--themeColor4);
$placeholderOpacity: 0.6;

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center; // Center items horizontally
    width: 100%;
}

.inputField {
    flex: 1;
    font-family: "bebas_neuebold";
    max-height: 40px;
    flex: 1 1 calc(33.33% - 10px); /* Adjust for padding */
    aspect-ratio: 1 / 1; /* Ensures the height equals the width */
    background-color: var(--mainButtonColor);
    border-radius: 10px;
    transition: all 0.3s ease;
    margin-bottom: 5px;
    margin-top: 10px;
    color: var(--themeColor2);
    background-color: var(--themeColor3);
    width: 100%;
    text-align: center;
    font-size: var(--controlsFontSize);
    text-transform: uppercase;
    border: none !important; // Set the border color to transparent
    outline: none; // Remove the default outline
    background-image: linear-gradient(to bottom, var(--themeColor4) 50%, transparent 50%);
    background-size: 90% 2px;
    background-repeat: no-repeat;
    background-position: center calc(100% - 8px);
    cursor: text;

    &::placeholder {
        color: $placeholderColor;
        opacity: $placeholderOpacity;
        font-family: "bebas_neuebold";
    }

    &:focus::placeholder {
        color: transparent !important;
        opacity: 0 !important;
    }

    &.validationFailed {
        background-image: linear-gradient(to bottom, var(--themeColorRed) 50%, transparent 0%) !important;

        &::placeholder {
            color: var(--themeColorRed);
            opacity: 1;
            text-shadow:
                -1px -1px 0 #ff9b9b,
                1px -1px 0 #ff9b9b,
                -1px 1px 0 #ff9b9b,
                1px 1px 0 #ff9b9b !important;
        }
    }
}

.errorText {
    color: var(--themeColorRed);
    font-size: 0.875rem;
    margin-top: 0.25rem;
    text-align: center;
    width: 100%; // Ensure full width to align text properly
}
