$selectedBorder: 3px;

.selected {
    color: var(--themeColor2);
    background-color: var(--mainButtonColor);
    border: solid $selectedBorder var(--themeColor2) !important;
    cursor: pointer;
}

.notSelected {
    color: var(--themeTextColor1);
    background-color: var(--mainButtonColor);
    cursor: pointer;
}
