
.header1 {
  font-family: 'bebas_neuebold';
  text-transform: uppercase;
}

.page {
  position: absolute;
  width: 100%;
  overflow: hidden;
}

.button {
  height: 40px;
  flex: 1 1 calc(33.33% - 10px); /* Adjust for padding */
  aspect-ratio: 1 / 1; /* Ensures the height equals the width */
  background-color: var(--mainButtonColor);
  border-radius: 10px;
  transition: all 0.3s ease;
  margin-bottom: 5px;
  margin-top: 10px;
}

@media (min-aspect-ratio: 1/1) {
  .button {
    height: 40px;
    aspect-ratio: auto; /* Remove aspect-ratio for rectangles */
  }
}

.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  opacity: 0;
  transition: opacity 0.3s ease;
  position: relative;
}

.scroll-container.visible {
  opacity: 1 !important;
  visibility: visible;
}

.background-image {
  position: relative;
  width: 100%;
  height: 255px;
  background: url('../assets/page-background-landscape.jpg') no-repeat top center;
  background-size: cover;
  z-index: -1;
}

/* Background image for landscape mode */
@media (min-aspect-ratio: 1/1) {
  .background-image {
    background: none; /* Un sets the background image */
  }
}

.content-container {
  position: relative;
  margin-top: -40px;
  min-height: calc(100vh - 255px); /* Adjust for the height of the background image */
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.1);
  padding-top: 10px; /* Ensure the content is pushed down below the background image */
  padding-bottom: 90px;
}

.content-box {
  padding: 10px;
}
