$headerGap: 430px;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -165px;
    width: 100%;
}

.avatar {
    width: 200px;
    height: 200px;
    transform: scale(var(--avatar-scale, 1));
    // transition: transform 0.2s ease-in-out;
}

.row {
    display: flex;
    justify-content: center;
    width: 100%;
    // max-width: 300px;
    z-index: 2;
}

.rowSpacer {
    height: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Ensure column takes full width */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.formGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px;
}

.labelContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.labelText {
    text-align: right;
}

.separator {
    margin: 0 5px;
}

.selectBox {
    text-align: left;
    cursor: pointer;
    text-decoration: underline;
}

.colorsRow {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
}

.colorColumn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 10px;
}

.iconButtonRow {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Optional: set container width */
    width: 100%;
}

@media (max-width: 600px) {
    .iconButtonRow {
        margin-top: -20px;
    }
}
@media (max-width: 400px) {
    .iconButtonRow {
        margin-top: -40px;
    }
}

@media (max-width: 300px) {
    .iconButtonRow {
        margin-top: -55px;
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.modalContent {
    background: white;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    top: 430px;
    height: 441px;
    min-width: 300px;
    align-content: center;
    align-items: center;
}

.modalOption {
    padding: 10px;
    cursor: pointer;
}

.modalOption:hover {
    background-color: #f0f0f0;
}

.flexColum {
    width: 100%;
    flex: 1;
}
