$controlsFontSize: 20px;
$placeholderColor: var(--themeColor4);
$placeholderOpacity: 0.6;

.contentHeader1 {
  text-transform: uppercase;
  padding-left: 5px;
  display: block;
  font-size: 2em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

.headerMarginTop {
  margin-block-start: 0.5em;
}

.headerMarginBottom {
  margin-block-end: 0.5em;
}

.headerMarginTopBottom {
  margin-block-end: 0.5em;
  margin-block-start: 0.5em;
}

.contentHeader2 {
  text-transform: uppercase;
  padding-left: 5px;
  margin-block-end: 0.67em;
}

.largeButton {
  font-size: $controlsFontSize;
  height: 100%;
}

// Include vendor prefixes for better browser support
.inputField::-webkit-input-placeholder {
  color: $placeholderColor;
  opacity: $placeholderOpacity;
  font-family: "bebas_neuebold";
}

.inputField:focus::-webkit-input-placeholder {
  color: transparent;
  opacity: 0;
}

.inputField:-moz-placeholder {
  color: $placeholderColor;
  opacity: $placeholderOpacity;
  font-family: "bebas_neuebold";
}

.inputField:focus:-moz-placeholder {
  color: transparent;
  opacity: 0;
}

.inputField::-moz-placeholder {
  color: $placeholderColor;
  opacity: $placeholderOpacity;
  font-family: "bebas_neuebold";
}

.inputField:focus::-moz-placeholder {
  color: transparent;
  opacity: 0;
}

.inputField:-ms-input-placeholder {
  color: $placeholderColor;
  opacity: $placeholderOpacity;
  font-family: "bebas_neuebold";
}

.inputField:focus:-ms-input-placeholder {
  color: transparent;
  opacity: 0;
}

.inputField::placeholder {
  color: var(--themeColor4);
  opacity: 0.6;
  font-family: "bebas_neuebold";
}

.inputFieldWrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.inputField {
  flex: 1;
  font-family: "bebas_neuebold";
  height: 40px;
  flex: 1 1 calc(33.33% - 10px); /* Adjust for padding */
  aspect-ratio: 1 / 1; /* Ensures the height equals the width */
  background-color: var(--mainButtonColor);
  border-radius: 10px;
  transition: all 0.3s ease;
  margin-bottom: 5px;
  margin-top: 10px;
  color: var(--themeColor2);
  background-color: var(--themeColor3);
  width: 100%;
  text-align: center;
  font-size: $controlsFontSize;
  text-transform: uppercase;
  border: none !important; // Set the border color to transparent
  outline: none; // Remove the default outline
  background-image: linear-gradient(to bottom, var(--themeColor4) 50%, transparent 50%);
  background-size: 90% 2px;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-position: center calc(100% - 8px);
}

.icon-send {
  margin-left: 10px;
  cursor: pointer;
  color: var(--themeColor2); // Default icon color
  transition: color 0.3s ease;
  text-decoration: none;
}

.icon-send:hover {
  color: var(--themeColor1); // Change to desired hover color
}

.linkClicked {
  color: var(--themeColor3); // Change to the color when link is clicked
}

.selected {
  color: var(--themeColor2);
  background-color: var(--mainButtonColor);
  cursor: pointer;
}

.notSelected {
  color: grey;
  background-color: var(--mainButtonColor);
  cursor: pointer;
}

.default {
  color: var(--themeColor4);
  background-color: var(--themeColor3);
}

.default:hover {
  color: var(--themeColor2);
  background-color: var(--themeColor1);
  cursor: pointer;
}

.halfWidth {
  flex: 0 1 calc(50% - 10px) !important;
}

.style2 {
  color: var(--themeColor3) !important;
  background-color: var(--themeColor4) !important;
}

.style2:hover {
  color: var(--themeColor1) !important;
  background-color: var(--themeColor2) !important;
  cursor: pointer;
}

.centeredText {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pageTemplate {
  position: absolute;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
}

.button {
  height: 40px;
  flex: 1 1 calc(33.33% - 10px); /* Adjust for padding */
  aspect-ratio: 1 / 1; /* Ensures the height equals the width */
  background-color: var(--mainButtonColor);
  border-radius: 10px;
  transition: all 0.3s ease;
  margin-bottom: 5px;
  margin-top: 10px;
}

@media (min-aspect-ratio: 1/1) {
  .button {
    height: 40px;
    aspect-ratio: auto; /* Remove aspect-ratio for rectangles */
  }
}

.scrollContainer {
  height: 100vh;
  overflow-y: scroll;
  opacity: 0;
  transition: opacity 0.3s ease;
  position: relative;
  pointer-events: none;
}

.scrollContainer.visible {
  opacity: 1 !important;
  visibility: visible;
  pointer-events: all;
}

.scrollTopButton {
  position: fixed;
  bottom: 94px;
  left: 50%;
  transform: translateX(-50%);
  width: 35px;
  height: 35px;
  background-color: var(--themeColor2);
  color: var(--themeColor1);
  font-family: var(--themeFont2);
  font-size: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
  cursor: pointer;
  z-index: 2000;
  pointer-events: all;
}

.backgroundImage {
  position: relative;
  width: 100%;
  height: 255px;
  background: url("../assets/page-background-landscape.jpg") no-repeat top center;
  background-size: cover;
}

/* Background image for landscape mode */
@media (min-aspect-ratio: 1/1) {
  .backgroundImage {
    background: none; /* Un sets the background image */
  }
}

.contentContainer {
  position: relative;
  margin-top: -40px;
  min-height: calc(100vh - 255px); /* Adjust for the height of the background image */
  background-color: var(--themeColor6);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.1);
  padding-top: 10px; /* Ensure the content is pushed down below the background image */
  padding-bottom: 150px;
  display: flex;
  justify-content: center;
}

.contentBoxWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Ensure it takes the full width of the parent */
}

.contentBox {
  padding: 20px;
  width: 800px;
}

.container {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  gap: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.square {
  flex: 1 1 calc(33.33% - 10px);
  aspect-ratio: 1 / 1;
  background-color: var(--mainButtonColor);
  border-radius: 15px;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square:hover {
  background-color: var(--themeColor3); /* Change background color on hover */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.squareInner {
  width: 100%;
  height: 100%;
  position: relative;
}

.squareInner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.4; /* Adjust this value to change the opacity */
}

.squareInner > * {
  position: relative;
}

@media (min-aspect-ratio: 1/1) {
  .square {
    height: 115px;
    aspect-ratio: auto;
  }

  .squareInner {
    width: 155px;
    height: 155px;
  }
}

.square::before {
  opacity: 0.3;
  content: "";
  position: absolute; /* Change to absolute positioning */
  height: 100%;
  padding-left: 100%;
  background-size: cover;
  background-position: center;
}

.squareContent {
  position: absolute; /* Position content absolutely */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--themeTextColor1); /* Adjust the text color as needed */
  font-size: 1em; /* Set a base font size for scaling */
}

.squareContent .sportName {
  transition: transform 0.1s linear;
}

.squareContent:hover .sportName {
  // transform: scale(1.1); /* Increase image size on hover */
}

.squareContent:hover .sportName {
  transform: scale(1.1); /* Increase image size on hover */
}

.squareContent div {
  margin: 5px 0;
  max-height: 100%;
}

.imageButton {
  height: clamp(50px, 10vh, 100px); /* Default values */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: height 0.3s ease; /* Smooth transition for height changes */
}

@media (max-width: 600px) {
  .imageButton {
    height: clamp(30px, 8vh, 80px); /* Values for small screens */
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  .imageButton {
    height: clamp(40px, 12vh, 90px); /* Values for medium screens */
  }
}

@media (min-width: 1201px) {
  .imageButton {
    height: clamp(50px, 15vh, 110px); /* Values for large screens */
  }
}

.imageButton img {
  max-height: 80%;
  max-width: 100%;
  width: auto;
  object-fit: contain;
  transition: transform 0.3s ease; /* Smooth transition for image size */
}

.imageButton:hover {
  background-color: var(--themeColor3); /* Change background color on hover */
  cursor: pointer;
}

.imageButton:hover img {
  transform: scale(1.1); /* Increase image size on hover */
}

.squareAfl::before {
  background-image: url("@assets/sports-field-afl.svg");
}

.squareAmericanFootball::before {
  background-image: url("@assets/sports-field-american-football.svg");
}

.squareBaseball::before {
  background-image: url("@assets/sports-field-baseball.svg");
}

.squareBasketball::before {
  background-image: url("@assets/sports-field-basketball.svg");
}

.squareCricket::before {
  background-image: url("@assets/sports-field-cricket.svg");
}

.squareIceHockey::before {
  background-image: url("@assets/sports-field-ice-hockey.svg");
}

.squareRugby::before {
  background-image: url("@assets/sports-field-rugby.svg");
}

.squareSoccer::before {
  background-image: url("@assets/sports-field-soccer.svg");
}

.squareTennis::before {
  background-image: url("@assets/sports-field-tennis.svg");
}

.comingSoon {
  font-family: var(--themeFont2);
  font-size: xx-small;
  color: var(--themeColor2);
  font-size: clamp(0em, 1.5vw, 1.1rem);
}

.sportName {
  font-size: 4vw;
}

@media (min-aspect-ratio: 1/1) {
  .sportName {
    font-size: clamp(1em, 2vw, 1.5rem);
  }
}

.eventItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px; // Adjust height as needed
  width: 100%;
  background-color: var(--mainButtonColor);
  border-radius: 15px;
  transition: all 0.3s ease;
  margin-bottom: 10px;
}

.eventColumn {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.eventColumn img {
  width: 50px; // Set an appropriate width
  height: auto;
}

.teamName {
  font-size: clamp(0.8em, 2vw, 1.5rem);
  color: var(--themeTextColor1);
  font-family: var(--themeFont2);
  margin-top: 7px;
}

@media (min-aspect-ratio: 1/1) {
  .teamName {
    font-size: clamp(1em, 1.2vw, 1.5rem);
  }
}

.eventMiddleColumn {
  font-size: clamp(0.8em, 1vw, 1.5rem);
  text-align: center;
  flex: 0.6 1;
  color: var(--themeTextColor1);
  font-family: var(--themeFont2);
}

.eventDateMiddle {
  font-size: 1vw !important;
}

@media (min-aspect-ratio: 1/1) {
  .eventDate {
    font-size: clamp(1em, 1.2vw, 1.5rem);
  }
}

.leagueLogo {
  width: 50px; // Adjust the size as needed
  height: auto;
}
