.playerHeader {
  display: flex;
  position: absolute;
  width: 100%;
  top: 80px;
  color: var(--themeTextColor1);
  font-family: var(--themeTextColor1);
  z-index: 2;
  font-size: clamp(20px, 1vw, 30px);
}

.avatar {
  transform: scale(0.5) !important;
  margin-top: -50px;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.doubleColumn {
  flex-direction: row;
}

.innerColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.centerAlign {
  justify-content: center;
  align-items: center;
}

.leftAlign {
  justify-content: center;
  align-items: flex-start;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  overflow: hidden;
}

.defaultImage {
  background-image: url("@assets/logo-in-circle.png");
}

.userName {
  font-size: clamp(30px, 2vw, 35px);
}

.row {
  flex: 1;
  display: flex;
  justify-content: left;
  align-items: center;
}

.row:last-child {
  border-bottom: none;
}

@media (max-width: 800px) {
  .innerColumn:first-child {
    max-width: 20%;
  }
}

@media (max-width: 500px) {
  .innerColumn:first-child {
    max-width: 0%;
  }

  .userName {
    font-size: clamp(25px, 2.5vw, 30px); /* Adjusted for smaller screens */
  }

  .playerHeader {
    font-size: clamp(18px, 1.5vw, 20px); /* Adjusted for smaller screens */
  }
}
