@import url("@styles/SquareAndTextButtonBackgrounds.scss");

.square {
    flex: 1 1 calc(33.33% - 14px);
    aspect-ratio: 1 / 1;
    background-color: var(--themeColor1);
    border-radius: 15px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: clamp(260px, 35vw, 318px);
}

.headerContainer {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    max-height: 80px;
    position: absolute;
    top: 15px;
}

.imageColumn {
    flex: 1 1 clamp(30px, 5vw, 50px);
    max-height: clamp(50px, 5vw, 80px);
    max-width: clamp(100px, 15vw, 180px);

    padding-right: 0px;
    margin-bottom: 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-left: clamp(10px, 5vw, 0px);
}

.leagueLogo {
    max-width: 100%;
    max-height: 100%;
}

.headingColumn {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sportImage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("@assets/sports-field-soccer.svg");
    scale: 1.5;
}

.contentHeader1 {
    text-transform: uppercase;
    padding-left: 5px;
    display: block;
    font-size: clamp(1.2em, 2vw, 2em);
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    color: var(--themeTextColor1);
    padding-bottom: 20px;
}

.bodyContainer {
    display: flex;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    position: relative;
    top: 80px;
}

.infoColumn {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--lightBackgroundColor);
    // padding: 10px;
    margin-left: clamp(10px, 5vw, 40px);
    max-height: clamp(140px, 20vw, 190px);
}

.infoItem {
    margin-bottom: 10px;
    color: var(--themeTextColor1);
    font-size: clamp(0.8em, 2vw, 1.2em) !important;
}

.viewButton {
    background-color: var(--buttonColor);
    color: var(--buttonTextColor);
    height: 100%;
    display: flex;
    align-items: flex-end;
    width: 85%;
    margin-left: 5%;
}

.viewButton div:nth-child(1) {
    font-size: clamp(16px, 2vw, var(--controlsFontSize)) !important;
}

.leaderBoardColumn {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #fff;

    border: 1px solid var(--borderColor);
    border-radius: 5px;
    margin-right: clamp(10px, 5vw, 40px);
    max-height: clamp(140px, 20vw, 190px);
}

.leaderBoardHeader {
    text-align: center;
    font-size: clamp(1em, 2vw, 1.2em);
    font-weight: bold;
}

.leaderBoardContentWrapper {
    padding: 10px;
    height: 100%;
}

.leaderBoardList {
    display: flex;
    flex-direction: column;
}

.leaderBoardItem {
    margin-bottom: clamp(1px, 1vw, 10px);
    font-size: clamp(0.8em, 2vw, 1.2em) !important;
}
