.iconButton {
    color: var(--themeColor1);
    background-color: var(--themeColor2);
    margin-top: 10px;
    border-radius: clamp(1rem, 5vw, 1.5rem);
    font-size: clamp(1rem, 5vw, 1.5rem);
    height: clamp(2rem, 10vw, 3rem);
    width: clamp(2rem, 10vw, 3rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconButton:hover {
    cursor: pointer;
    background-color: var(--themeColor4);
}
