$headerBarHeight: 64px;

.headerBar {
  position: absolute;
  background-color: var(--bgColorMenu);
  display: flex;
  align-items: flex-end;
  width: 100vw;
  margin-block-end: 0;
  margin-block-start: 0;
  padding-inline-start: 0;
  top: 0;
  height: $headerBarHeight;
  left: 0;
  z-index: 2;
  justify-content: center;
}

.mainLayoutContainer {
  display: flex;
  width: 100%;
}

.container {
  display: flex;
  height: $headerBarHeight;
  flex: 1;
}

.column {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonWrapper {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.balanceBackground {
  height: 30px;
  width: 230px;
  background-color: #555555;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.amountWrapper {
  display: flex;
  height: 50px;
  align-items: center;
}

.amountColumn {
  line-height: 30px !important;
  text-align: left !important;
}

.amount1, .amount3 {
  width: 90px;
  height: 30px;
  white-space: nowrap;
  text-align: center;
}

.amount2 {
  height: 30px;
  width: 50px;
}

.fiatIcon {
  font-size: 9px;
  display: inline-block;
  vertical-align: middle;
}

.text {
  font-family: 'Roboto';
  font-size: 9pt;
  padding-left: 1px;
  display: inline-block;
  vertical-align: middle;
}

.headerLogo {
  color: #fff;
  width: 122px;
  height: 14px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: var(--logo-text);
  display: inline-flex;
  transform: scale(1.5);
}

@media screen and (max-width: 700px) {
  .headerLogo {
    height: 50px !important;
    width: 50px !important;
    border-radius: 25px;
    background-image: var(--LOGO) !important;
    transform: scale(1);
  }
}

@media screen and (max-width: 250px) {
  .content {
    display: none !important;
  }
}

.ETHLogo, .MATICLogo {
  background-size: cover;
  background-repeat: no-repeat;
}

.ETHLogo {
  background-image: var(--ETH);
  width: 160%;
  height: 160%;
  transform: scale(0.5);
}

.MATICLogo {
  background-image: var(--MATIC);
  width: 50px;
  height: 50px;
}

.buttonBackground {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.buttonIcon {
  color: #fff;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-flex;
}
