@font-face {
  font-family: 'bebas_neuebold';
  src: url('./fonts/bebasNeue/bebasneue-bold-webfont.woff2') format('woff2'),
       url('./fonts/bebasNeue/bebasneue-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'rockwellregular';
  src: url('./fonts/rockwell/rockwell-webfont.woff2') format('woff2'),
       url('./fonts/rockwell/rockwell-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

html {
  font-family: "bebas_neuebold";
}

