.squareAfl::before {
    background-image: url("@assets/sports-field-afl.svg");
}

.squareAmericanFootball::before {
    background-image: url("@assets/sports-field-american-football.svg");
}

.squareBaseball::before {
    background-image: url("@assets/sports-field-baseball.svg");
}

.squareBasketball::before {
    background-image: url("@assets/sports-field-basketball.svg");
}

.squareCricket::before {
    background-image: url("@assets/sports-field-cricket.svg");
}

.squareIceHockey::before {
    background-image: url("@assets/sports-field-ice-hockey.svg");
}

.squareRugby::before {
    background-image: url("@assets/sports-field-rugby.svg");
}

.squareSoccer::before {
    background-image: url("@assets/sports-field-soccer.svg");
}

.squareTennis::before {
    background-image: url("@assets/sports-field-tennis.svg");
}
