:root {
    height: 100%;

    --headerBarHeight: 64px;
    --bgColorHeaderBackground: ;
    
    --themeFont1: 'bebas_neuebold';
    --themeFont2: 'rockwellregular';

    --mainButtonColor: #043a0e;
    --mainButtonHoverColor: #F9C900;
    
    --themeColor1: #043a0e;
    --themeColor2:#F9C900;

    --themeTextColor1:#FFFFFF;

    --menu1Color: #F9C900;
    --menu2Color: #F9C900;
    --menu3Color: #F9C900;
    --menu4Color: #F9C900;
    --menu5Color: #F9C900;

    --bgColorMenu: #043a0e;
    --bgColorMenuIconActive: #043a0e;

    --logo-text-height: 50px;

    --LOGO: url('@assets/login-logo.png');
    }
    

html {
    --logo-text: url('@assets/login-logo.png');
   }