:root {
    height: 100%;

    --headerBarHeight: 64px;
    --bgColorHeaderBackground: #043a0e;

    --themeFont1: "bebas_neuebold";
    --themeFont2: "rockwellregular";

    --mainButtonColor: #043a0e;
    --mainButtonHoverColor: #f9c900;

    --themeColor1: #043a0e;
    --themeColor2: #f9c900;

    --themeColor3: #135121;
    --themeColor4: #d39c00;
    --themeColor5: #e1e2cc;
    --themeColor6: #ededed;

    --themeTextColor1: #ededed;

    --menu1Color: #f9c900;
    --menu2Color: #f9c900;
    --menu3Color: #f9c900;
    --menu4Color: #f9c900;
    --menu5Color: #f9c900;

    --bgColorMenu: #043a0e;
    --bgColorMenuIconActive: #043a0e;

    --logo-text-height: 50px;

    --LOGO: url("@assets/login-logo.png");
}

html {
    --logo-text: url("@assets/login-logo.png");
}
