.headerBar {
  position: absolute;
  background-color: var(--bgColorHeaderBackground);
  display: flex;
  align-items: flex-end;
  width: 100vw;
  margin-block-end: 0;
  margin-block-start: 0;
  padding-inline-start: 0;
  top: 0;
  height: var(--headerBarHeight);
  left: 0;
  z-index: 20;
  justify-content: center;
}

.mainLayoutContainer {
  display: flex;
  width: 100%;
}

.container {
  display: flex;
  height: var(--headerBarHeight);
  flex: 1;
}

.column {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonWrapper {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.fiatIcon {
  font-size: 9px;
  display: inline-block;
  vertical-align: middle;
}

.text {
  font-family: "Roboto";
  font-size: 9pt;
  padding-left: 1px;
  display: inline-block;
  vertical-align: middle;
}

.headerLogo {
  color: #fff;
  width: 122px;
  height: var(--logo-text-height);
  background-size: contain;
  background-repeat: no-repeat;
  background-image: var(--logo-text);
  display: inline-flex;
  transform: scale(1.5);
  margin-top: 5px;
}

@media screen and (max-width: 700px) {
  .headerLogo {
    height: 50px !important;
    width: 50px !important;
    border-radius: 25px;
    background-image: var(--LOGO) !important;
    transform: scale(1);
  }
}

@media screen and (max-width: 250px) {
  .content {
    display: none !important;
  }
}

.buttonBackground {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.buttonIcon {
  color: #fff;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-flex;
}
