$icomoon-font-family: "coins" !default;
$icomoon-font-path: "fonts" !default;

$icon-coins-PLY-path1: "\e904";
$icon-coins-PLY-path2: "\e905";
$icon-coins-ETH-path1: "\e907";
$icon-coins-ETH-path2: "\e908";
$icon-coins-PRZ-path1: "\e923";
$icon-coins-PRZ-path2: "\e924";
$icon-coins-BTC-path1: "\1f37b";
$icon-coins-BTC-path2: "\1f37c";
$icon-coins-BTC-path3: "\1f37d";
$icon-coins-BTC-path4: "\1f37e";
$icon-coins-BTC-path5: "\1f37f";
$icon-coins-USD-path1: "\e909";
$icon-coins-USD-path2: "\e90a";
$icon-coins-TST-path1: "\e92d";
$icon-coins-TST-path2: "\e92e";

