:root{
  --contentWidth: 60vw;
  --gridWidth: 80vw;
}

.main-layout-container {
    position: absolute;
    width: var(--gridWidth);
    top: 0;
    left:10vw;
  }
  
  .container {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    text-align: center;
  }
  
  .column {
    flex: 1;
    color: white;
  }
  
  @media (orientation: portrait) {
    .main-layout-container {
      width: 100vw !important;
      left:0;
    }
  }