$icomoon-font-family: "fiat-flag-icon" !default;
$icomoon-font-path: "fonts" !default;

$fiat-flag-icon-RUB-path1: "\e91d";
$fiat-flag-icon-RUB-path2: "\e91e";
$fiat-flag-icon-RUB-path3: "\e91f";
$fiat-flag-icon-RUB-path4: "\e920";
$fiat-flag-icon-CNY-path1: "\e900";
$fiat-flag-icon-CNY-path2: "\e901";
$fiat-flag-icon-EUR-path1: "\e902";
$fiat-flag-icon-EUR-path2: "\e903";
$fiat-flag-icon-JPY-path1: "\e904";
$fiat-flag-icon-JPY-path2: "\e905";
$fiat-flag-icon-GBP-path1: "\e906";
$fiat-flag-icon-GBP-path2: "\e907";
$fiat-flag-icon-GBP-path3: "\e908";
$fiat-flag-icon-GBP-path4: "\e909";
$fiat-flag-icon-GBP-path5: "\e90a";
$fiat-flag-icon-GBP-path6: "\e90b";
$fiat-flag-icon-GBP-path7: "\e90c";
$fiat-flag-icon-GBP-path8: "\e90d";
$fiat-flag-icon-GBP-path9: "\e90e";
$fiat-flag-icon-GBP-path10: "\e90f";
$fiat-flag-icon-GBP-path11: "\e910";
$fiat-flag-icon-GBP-path12: "\e911";
$fiat-flag-icon-ZAR-path1: "\e912";
$fiat-flag-icon-ZAR-path2: "\e913";
$fiat-flag-icon-ZAR-path3: "\e914";
$fiat-flag-icon-ZAR-path4: "\e915";
$fiat-flag-icon-ZAR-path5: "\e916";
$fiat-flag-icon-ZAR-path6: "\e917";
$fiat-flag-icon-USD-path1: "\e918";
$fiat-flag-icon-USD-path2: "\e919";
$fiat-flag-icon-USD-path3: "\e91a";
$fiat-flag-icon-USD-path4: "\e91b";
$fiat-flag-icon-USD-path5: "\e91c";

