.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--themeColor6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    max-height: 100%;
    overflow-y: auto;
    // width: 50%;
    // margin-top: 275px;
    touch-action: pan-y;
}

.modalContentCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 0px !important;
}
.modalTopBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 64px;
    left: 0px;
    z-index: 5000;
    width: 100%;
    background-color: var(--themeColor2);
}

.modalTopBar > * {
    flex: 1; /* Ensures all children have equal width */
    text-align: center; /* Center text within each column */
}

.modalTopImageContainer {
    display: flex;
    justify-content: flex-start;
    text-align: left;
}
.modalTopImage {
    height: 40px;
    width: auto; /* Maintain the aspect ratio */
    max-width: 100%; /* Ensure it doesn't overflow */
}

.modalTitle {
    flex: 1; /* Allows the title to take up available space */
    text-align: center;
    font-size: clamp(1.3rem, 2vw, 1.5rem);
}

.closeButton {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    z-index: 5000;
    cursor: pointer;
}

.closeButtonIconWrapper {
    padding-right: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.closeButtonIconWrapper > div {
    color: var(--themeTextColor1) !important;
    background-color: var(--themeColor1) !important;
    border-color: var(--themeColor1) !important;
}

.closeButtonIconWrapper > div:hover {
    color: var(--themeTextColor1) !important;
    background-color: var(--themeColor3) !important;
    cursor: pointer;
    border-color: var(--themeColor3) !important;
}

.filter {
    height: 200px;
    width: 100%;
    background-color: var(--themeColor6);
    position: absolute;
    top: var(--headerBarHeight);
    display: flex;
    z-index: 2;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
