.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: color-mix(in srgb, var(--themeColor6) 50%, transparent);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: var(--themeColor2);
    border-radius: 8px;
    width: 500px;
    z-index: 2000 !important;
    position: relative;
}

.closeButton {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .modalContent {
        scale: 0.9;
    }
    .closeButton {
        scale: 0.9;
        top: 0px;
        right: 5px;
    }
}

@media (max-width: 480px) {
    .modalContent {
        scale: 0.8;
    }
    .closeButton {
        scale: 0.8;
    }
}

@media (max-width: 320px) {
    .modalContent {
        scale: 0.6;
    }
    .closeButton {
        scale: 0.6;
    }
}

.modalContentCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 0px !important;
}

// duplicated

.closeButton > div {
    color: var(--themeTextColor1) !important;
    background-color: var(--themeColor1) !important;
    border-color: var(--themeColor1) !important;
}

.closeButton > div:hover {
    color: var(--themeTextColor1) !important;
    background-color: var(--themeColor3) !important;
    cursor: pointer;
    border-color: var(--themeColor3) !important;
}

.filter {
    height: 200px;
    width: 100%;
    background-color: var(--themeColor6);
    position: absolute;
    top: var(--headerBarHeight);
    display: flex;
    z-index: 2;
}

.children {
    padding-top: 20px;
}
