.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--themeColor6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    min-height: 100vh;
}

.modalContent {
    padding: 20px;
    max-height: 100%;
    overflow-y: auto;
    width: 50%;
    margin-top: 275px;
    touch-action: pan-y;
}

@media (max-width: 1200px) {
    .modalContent {
        width: 60%;
    }
}

@media (max-width: 768px) {
    .modalContent {
        width: 70%;
    }
}

@media (max-width: 480px) {
    .modalContent {
        width: 100%;
    }
}

@media (max-width: 320px) {
    .modalContent {
        width: 100%;
    }
}

.modalContentCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 0px !important;
}

// duplicated

.closeButton {
    position: absolute;
    top: 65px;
    right: 15px;
    cursor: pointer;
}

.closeButton > div {
    color: var(--themeTextColor1) !important;
    background-color: var(--themeColor1) !important;
    border-color: var(--themeColor1) !important;
}

.closeButton > div:hover {
    color: var(--themeTextColor1) !important;
    background-color: var(--themeColor3) !important;
    cursor: pointer;
    border-color: var(--themeColor3) !important;
}

.filter {
    height: 200px;
    width: 100%;
    background-color: var(--themeColor6);
    position: absolute;
    top: var(--headerBarHeight);
    display: flex;
    z-index: 2;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.children {
    animation: fadeIn 0.3s ease-in-out;
}
